--extra-index-url https://download.pytorch.org/whl/cu126

# PyTorch (Matching the cu126 environment)
torch==2.9.0+cu126
torchvision==0.24.0+cu126
torchaudio==2.9.0+cu126

# Sparse Convolution
spconv-cu126

# NVIDIA DALI for data preprocessing
nvidia-dali-cuda126

# Additional dependencies
scipy
scikit-learn
matplotlib
plyfile
pandas
tqdm
open3d
